extends layout.pug

block content
    div
        h1= post.title
        p  
            span= post.timestamp
            span 发帖人：
                a(href='/user/' + post.userId)= post.username
        p= post.content

    hr
    if comments.length
        ul
            each comment in comments
                li
                    div
                        span 回帖人： #{comment.username}
                        p 回帖内容： #{comment.content}
                        span 回帖时间： #{comment.timestamp}
    else
        div.no-comments 还没有人评论
        br

    div
        form(action='/add-comment' method='post')
            input(hidden=true name='postid' value=post.id)
            textarea(name="content", placeholder='请输入评论')
            br
            button 提交
